# Base de données SQLite
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environnement virtuel
.venv/
venv/
ENV/
env/

# Variables d'environnement
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Terraform
terraform-bin/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# PDF (optionnel - décommentez si vous ne voulez pas pousser le PDF du TP)
# TP1_Terraform_ESME_ecommerce_separe.pdf
